<nav class="navbar navbar-light bg-light border-bottom border-2">
  <div class="d-flex align-items-center ms-3">
    <a class="navbar-brand border-end pe-4 border-2 border-dark" href="#">
      <img
        src="https://cdn4.iconfinder.com/data/icons/glyphs/24/icons_user2-128.png"
        alt=""
        width="60"
        height="60"
        class="d-inline-block align-text-top"
      />
    </a>
    <h2>Administracion academica</h2>
  </div>
</nav>

<lib-toastify-toast-container [autoClose]="2000"></lib-toastify-toast-container>

<!-- <div class="bg-success p-1"> -->
<!-- <div class="container">
    <div class="row">
      <div class="col">
        <!--navbar
        <nav class="navbar navbar-expand-lg navbar-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <i class="fas fa-bars"></i>
            </a>
            Administracion

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a routerLink="/" routerLinkActive="active" class="nav-link"
                    >Inicio</a
                  >
                </li>

                <li class="nav-item">
                  <a
                    routerLink="/registrar"
                    routerLinkActive="active"
                    class="nav-link"
                    >Registrar</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!--navbar
      </div>
    </div>
  </div> -->
<!-- </div> -->

<app-principal></app-principal>
