<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card-text-center">
        <div class="card-body text-muted">
          <h2>{{ titulo }} Estudiante</h2>
          <div class="col-8 mt-4">
            <form class="col" (ngSubmit)="guardarEstudiante()">
              <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input
                  type="text"
                  [(ngModel)]="estudiante.nombre"
                  class="form-control"
                  name="nombre"
                  placeholder="nombre"
                />
              </div>
              <div class="mb-3">
                <label for="direccion" class="form-label">Direccion</label>
                <input
                  type="text"
                  [(ngModel)]="estudiante.direccion"
                  class="form-control"
                  name="direccion"
                  placeholder="direccion"
                />
              </div>
              \
              <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <button class="btn btn-success">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
